[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=WebBrowser
X-XFCE-CommandsWithParameter=/usr/bin/flatpak run com.google.Chrome "%s"
Icon=flatpak
Name=flatpak
X-XFCE-Commands=/usr/bin/flatpak run com.google.Chrome

