[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/zoey/Desktop/Dolphin ISOs]
row=4
col=0

[/home/zoey/Desktop/Google Chrome.desktop]
row=3
col=0

[/home/zoey/Desktop/steam.desktop]
row=6
col=0

[/home/zoey/Desktop/Dolphin Emulator.desktop]
row=5
col=0

[/home/zoey/Desktop/Flashpoint.desktop]
row=7
col=0

[/home/zoey/Desktop/Software.desktop]
row=2
col=0

[7A32CCAB32CC6E27]
row=2
col=1

[6b26cf64-1b6d-4baf-b2e1-115ed19a31f4]
row=1
col=1

[2023-03-16-09-16-02-00]
row=0
col=1

[Wastebasket]
row=8
col=0

[/]
row=0
col=0

[/home/zoey]
row=1
col=0

