[Desktop Entry]
Name=Borderlands GOTY Enhanced
Comment=Play this game on Steam
Exec=steam steam://rungameid/729040
Icon=steam_icon_729040
Terminal=false
Type=Application
Categories=Game;
