[Desktop Entry]
Name=FUCK HITLER
Comment=Play this game on Steam
Exec=steam steam://rungameid/2157110
Icon=steam
Terminal=false
Type=Application
Categories=Game;
