[Desktop Entry]
Name=Rayman: Raving Rabbids
Comment=Play this game on Steam
Exec=steam steam://rungameid/15080
Icon=steam
Terminal=false
Type=Application
Categories=Game;
